html{
  scroll-behavior: smooth;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

.sign{
  float: right;
}

#logo{
  height: 2rem;`a333333332
  width: 14rem;
  color: #0f63d2;
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 10px;
  margin-left: 2rem
}



  .nav{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0rem;
    position:relative;
    background-color: rgba(211, 233, 253, 0.468);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
    z-index: 3;
    width: 100%;

    
  }

  ul{
    display: flex;

    
  }

  
.nav li {
    list-style: none;
    margin: 0px 2rem;
    padding-right: 0rem;
  }
  
 .nav li a {
    color: #0f63d2;
    text-decoration: none;
    font-size: 1.2rem;
  }


  .yellowstrip{
    width: auto;
    height: 8rem;
    background-color: #5595e8;
  }

  .whitestrip{
    height: 15rem;
    background-color: #edf4fd;
  }
  .content1{
    margin-top: 0px;
    background-image: url(/Images/bg2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 50rem;
    width:auto;
    display:flex;
    
  }
  .right img{
    height:30rem;
    width:40rem;
    margin:8rem;

  }
  .left{
    margin-top:7rem;
  }


  .content1 h1{

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;

    padding-top: 2rem;
    margin-left: 7rem;
    color: whitesmoke;
    font-size: 7rem;
    font-weight: 2rem;
    text-shadow: #716b6b 20px solid;
  }

  .content1 p{
    padding-top: 1rem;
    padding-left: 8rem;
    width: 36rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(53, 63, 68);
    font-size: 20px;
    line-height: 27px;
  }

  .content1 p img{
    position:relative;
    height: 50px;
    width: 50px;
  }

  #gstart{
    font-family: 'Major Mono Display', monospace;
    margin-top: 1rem;
    margin-left: 0rem;
    font-weight: 300;
    font-size: x-large;
    color: white;
    cursor: pointer;
  }



  .content2{
    background-color: #edf4fd;
    background-size:cover;
    background-repeat: no-repeat;
    height: 26rem;
    width:auto;
  }

  .content2 h1{
    font-family: Cambay;
    padding-top: 2rem;
    text-align: center;
    color: #5595e8;
    font-size: 4rem;
  }

  .content2 p{
    padding-left: 19rem;
    text-align: center;
    width: 77rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(53, 63, 68);
    font-size: 20px;
    line-height: 27px;
  }

  .container{
    position: relative;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }

  .container .card{

   margin-right: auto;
   position: relative; 
   max-width: 300px;
   height: 340px;
   background: #fff;
   margin: 30px 10px;
   padding: 20px 15px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 5px 202px rgba(0,0,0,0,0.5);
   transition: 0.3s ease-in-out;
   box-shadow: 0px 1px 180px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
  }

   .cards:hover .container{
    height: 620px;
  }

  .container .card .imgBx{
    position: relative;
    width: 260px;
    height: 200px;
    left: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0,0.2);
    text-align: center;
    z-index: 5;
    background-color: white;
    transition: 0.5s ease-in-out;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(26, 65, 109);
    font-size: 20px;
    line-height: 27px;
  }

    img{
    max-width: 100%;
    border-radius: 4px;
    width: 150px;
    height: 160px;
  }

  .container .card .content{
    position: relative;
    margin-top: -240px;
    padding: 8px 15px;
    text-align: center;
    
    visibility: hidden;
    opacity: 0;
    z-index: 0;

    font-family: "Nunito Sans", sans-serif;
    font-weight: 80;
    letter-spacing: 1px;
    color: rgb(63, 76, 91);
    font-size: 14px;
    transition: 0.5s ease-in-out;
  
  }

  .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
  }

   .card:hover .imgBx{
    transform:scale(0.8) translateY(-50px);
  
  }

 button[type=button]{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    margin-top: 30px;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
button[type=button]:hover{

  background-color: #4d75eb;
}
 

  /* .cards h2{
    color:#5595e8;
    letter-spacing: 3px;
  } */

  .content3{
    background-color: #ebf5fc;
    background-size: cover;
    height: 50rem;
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content3 h1{
    font-family: Cambay;
    padding-top: 2rem;
    text-align: center;
    color: #5595e8;
    font-size: 4rem;
  }


  .content3 p{
    /* padding-left: 12rem; */
    align-items: center;
    text-align: center;
    width: 70rem;
    padding-top: 1rem;
    margin-bottom: 2rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(53, 63, 68);
    font-size: 20px;
    line-height: 27px;
  }

  .container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;

  }

  .container3 .card{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
                inset -5px -5px -5px rgba(255,255,255,0.5),
                5px 5px 5px rgba(0,0,0,0.05),
                -5px -5px -5px rgba(255,255,255,0.5);
    border-radius: 15px;
    margin: 30px;

  }

  .container3 .card .box{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #ebf5fc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

    /* height: 300px; */
  }

  .container3 .card:hover .box{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg,#5cc4e4,#4f29cd);
  }

  

  .container3 .card .box .content{
    padding: 20px;
    text-align: center;
  }

  

  .container3 .card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.02);
    transition: 0.5s;
    pointer-events: none;
   
  }

  .container3 .card:hover .box .content h2{
    color: rgba(0, 0, 0, 0.05);
  }
  .container3 .card  .box .content h3{
    font-size: 1.8rem;
    color: #777;
    z-index: 1;
    transition: 0.5s;


  }



  

  .container3 .card .box .content h4{
    font-size: 1rem;
    font-weight: 300;
    color: #777;
    z-index: 1;
    transition: 0.5s;
  }

  .container3 .card:hover .box .content h3,
  .container3 .card:hover .box .content h4{
    color: #fff;

  }
  



  
 
  .content4{
    background-color: white;
    height: 50rem;
    width:auto;
   
    
    
  }
  .content4 h1{
    font-family: Cambay;
    padding-top: 2rem;
    text-align: center;
    color: black;
    font-size: 4rem;
  }
  .container4{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    padding:10px;
    
  }
  .container4 .card
  {
    padding:20px;
    background-image: url(/Images/sticky-removebg-preview.png);
    background-repeat:no-repeat;
    background-size: cover;
    height:15rem;
   
    
  }
  .container4 .card h3{
    position:absolute;
    font-size: 8rem;
    margin-right: 30px;
    color: rgba(0, 0, 0, 0.5);
  }

  .container4 .card h5{
    text-align:center;
    padding: 100px 20px 10px 20px;
    
  }

 
  .content5{
    margin-top: 0px;
    background-image: url(/Images/contactbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    width:auto;
  }

  .content5 h1{
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem;
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    margin: 0 0 10px;
    position: relative;
    
  }

  .content5 h1:before {
    content: '';
    left: 30%;
    position: absolute;
    height: 3px;
    right: 30%;
    background-color: #febd01;
    bottom: 0px;
}

  .content5 .container{
  
      display: flex;
      flex-direction: column;
      padding: 0rem 26rem;
     align-items: center;
  }

  .content5 label{
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0.6px;
    color: rgb(92, 104, 109);
    font-size: 12px;
    line-height: 15px;
  }

  .inputarea {
    margin-top: 2rem;
    background-color: rgb(252, 252, 252);
    border-radius: 4px;
    border: 2px solid rgb(216, 240, 244);
    box-sizing: border-box;
    display: flex;
    height: 48px;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(53, 63, 68);
    font-size: 15px;
    line-height: 27px;
}

textarea{
  margin-top: 2rem;
  background-color: rgb(252, 252, 252);
  border-radius: 4px;
  border: 2px solid rgb(216, 240, 244);
  box-sizing: border-box;
  display: flex;
  height: 150px;
  outline: none;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(57, 71, 78);
  font-size: 15px;
  line-height: 27px;
}


  .formcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 8%) 0px 1px 4px 0px;
    height: 100%;
    padding: 40px;
    margin-top: 30px;

    margin-bottom: 3rem;
}

button[type=submit]{
    border: none;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 12px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    text-decoration: none;
    box-shadow: 0px 10px 15px #e8e8e8;
}
button[type=submit]:hover{

  background-color: #070224;
}

textarea:hover{
  border: 2px solid;
  border-color: #3d7fd6;
}
input:hover{
  border: 2px solid;
  border-color: #3d7fd6;
}


  .footer{
    background-color: grey;
    margin-top: 0px;
    height: 10rem;
    width:auto;
  }


  