*{
    margin: 0;
    padding: 0;
    font-family: Cambay;
}

.sign{
  float: right;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color:#cad9ec;
  }
  
.nav li {
    float: left;
  }
  
 .nav li a {
    display: block;
    color: #5595e8;
    text-align: center;
    padding: 1.2rem 1rem;
    text-decoration: none;
  }

  .nav{
    position:fixed;
    width: 100%;

  }

  .content1 ul{
    display: flex;
  }

  .content1 ul li{
    list-style-type: none;
    margin: auto;
    font-family: Cambay;
    font-size: medium;
    color: #5595e8;
  }

  h1{
    font-family: Cambay;
    padding-top: 2rem;
    text-align: center;
    color: #5595e8;
    font-size: 4rem;
  }

  .content1 {
    height: 32rem;
  }

  .content2{
    height: 67rem;
    background-color: #edf4fd;
  }

  .content2 h1{
    font-family: Cambay;
    padding-top: 12rem;
    text-align: center;
    color: #edf4fd;
    font-size: 4rem;
  }
  .bluestrip{
    
    height: 20rem;
      background-color: #5595e8;

  }

  .container{
    display: flex;
    flex-direction: row;
    
    /* justify-content:space-evenly; */
    background-color: #edf4fd;
    height: 37rem;
  }

  .content2 .container{
    background-image: url(/images/content2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  
  /* .container form{
    padding-top: 5rem;
    padding-left: 30rem;
  } */

  .content2 .bhead{
    font-family: Cambay;
    text-align: center;
    font-size: 4rem;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color:#5595e8;
  }

  .content3{
    height: 47rem;
    background-color:#7bb4ff;
  }

  .content3 .container{
    background-color:#7bb4ff;
  }

  .content3 .left{
    margin: 5rem;
    background-image: url(/Images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 50%;
  }

  .content3 .bhead{
    font-family: Cambay;
    text-align: center;
    font-size: 4rem;
    margin: 0px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color:#edf4fd;
  }


  .content4{
    height: 80rem;
    background-color:#edf4fd;
  }

  /* .content4 .container {
    height: 80rem;
    background-color: #edf4fd;
    background-image: url(rocket2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 100%;
  } */

  


  .left{
    width: 50rem;
    /* border: 20px solid rgb(5, 123, 13); */
  }
  .right{
    width: 50rem;
  }

  
  .content2 form{
    margin-left: 5rem;
    margin-top: 6rem;
  }

  .content2 label{
    font-weight: 500;
    /* letter-spacing: 1px; */
    font-size: 2rem;
    color: #3d7fd6;
    
  }

  
  .content2 input{
    /* background-color:#92b8ea ; */
    border: 1px solid #3d7fd6;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fa9746;
    /* border-bottom: 5px solid #3d7fd6; */
  }
  
  input[type=email]{
    width: 20rem;
  }
  
  
  
  
  #input:activated{
    border-width: 20px;
    border-color: red;
  }
  
  

  .content3 form{
    margin-left: 3rem;
    margin-top: 2rem;
  }
  
  .content3 label{
    /* font-weight: 5rem; */
    letter-spacing: 1px;
    font-size: 1.6rem;
    color:#edf4fd;
    font-size: 1.5rem
  }

  label.check{
    letter-spacing: 1px;
    font-size: 1.2rem;
    color:#edf4fd;
  }
  .comment{
    color: red;
    font-size: 0.8rem;
  }

  .content3 input[type=submit]{
    margin-top: 0.6rem;
  }


  textarea{
    border-radius: 10px;
    font-size: 1.2rem;

  }
  textarea:focus{
    border: 2px #fa9746;
  }

  .content3 input{
    /* background-color:#92b8ea ; */
    border: 1px solid #3d7fd6;
    border-radius: 4px;
    font-size: 1.2rem;
    color: #fa9746;
    /* border-bottom: 5px solid #3d7fd6; */
  }

  input[type=checkbox] {
    accent-color: #fa9746;
  }

  .content4 form{
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 2rem;
  }
  .content4 label{
    letter-spacing: 1px;
    font-size: 1.6rem;
    color:#3d7fd6;
    text-align: center;

  }

  /* input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    width: 1.2ex;
    height: 0.4ex;
    background: rgba(0, 0, 0, 0);
    top: 0.9ex;
    left: 0.4ex;
    border: 3px solid blue;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
 }

 input[type="checkbox"] {
    line-height: 2.1ex;
 }

 input[type="checkbox"] {
     position: absolute;
     left: -999em;
 }

 input[type="checkbox"] + label {
     position: relative;
     overflow: hidden;
     cursor: pointer;
 }

 input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: -25%;
    height: 2ex;
    width: 2ex;
    background-color: white;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 4px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
    margin-right: 0.5em;
 } */

  input[type=submit]{
    border-radius: 10px;
    border-color: #fa9746;
    margin-top: 4rem;
    background:#fa9746;
    color:#fff;
    padding:12px;
    width: 10rem;
    font-size: 1.2rem;
  }

  input:hover{
    border: 2px solid;
    border-color: #3d7fd6;
  }
  input:focus{
    border: 2px solid;
    border-color:#3d7fd6;
  }

.star-rating {
    /* margin: 25px 0 0px; */
   font-size: 0;
   white-space: nowrap;
   display: inline-block;
   width: 175px;
   height: 35px;
   overflow: hidden;
   position: relative;
   background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
   background-size: contain;
 }

 .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }

  .star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}

.choice {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    display: block;
  }
  span.scale-rating{
  margin: 5px 0 15px;
      display: inline-block;
     
      width: 100%;
     
  }
  span.scale-rating>label {
    position:relative;
      -webkit-appearance: none;
    outline:0 !important;
      border: 1px solid grey;
      height:33px;
      margin: 0 5px 0 0;
    width: calc(10% - 7px);
      float: left;
    cursor:pointer;
  }

  span.scale-rating label {
    position:relative;
      -webkit-appearance: none;
    outline:0 !important;
      height:33px;
        
      margin: 0 5px 0 0;
    width: calc(10% - 7px);
      float: left;
    cursor:pointer;
  }

  span.scale-rating input[type=radio] {
    position:absolute;
      -webkit-appearance: none;
    opacity:0;
    outline:0 !important;
      /*border-right: 1px solid grey;*/
      height:33px;
   
      margin: 0 5px 0 0;
    
    width: 100%;
      float: left;
    cursor:pointer;
    z-index:3;
  }
  span.scale-rating label:hover{
  background:#fddf8d;
  }
  span.scale-rating input[type=radio]:last-child{
  border-right:0;
  }
  span.scale-rating label input[type=radio]:checked ~ label{
      -webkit-appearance: none;
   
      margin: 0;
    background:#fddf8d;
  }
  span.scale-rating label:before
  {
    content:attr(value);
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      vertical-align: middle;
    z-index:2;
  }